@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Ubuntu&display=swap');

.Hero {
    padding: 1px 0 0 0;
    background-color: white;
    height: auto;
    width: 100%;
    position: relative;
}
.Main {
    padding: 1px 0 0 0;
    width: 100%;
    height: 600px;
    background-image: url(EdittedImage1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    animation: HeroAnimation;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}
.Main h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 110%;
    margin: 200px auto auto 70px;}
.Main h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 230%;
    margin: 10px auto auto 70px;
    max-width: 500px;}
#coding {color: #42BFDD}
.Main p {
    margin: 25px auto auto 70px;
    color: white;
    text-align: start;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;}

.Main a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    display: block;
    text-align: center;
    width: 120px;
    height: 40px;
    line-height: 32px;
    text-decoration: none;
    margin: 30px auto auto 70px;
    color: #42BFDD;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 12px;
    border-color: #42BFDD;
    border-style: solid;
    transition: 0.3s;
    transition-timing-function: ease-out;}
.Main a:hover {
    background-color: #42BFDD;
    color: white;}
@media (max-width: 940px) {
    .Main h2 {font-size: 80%; margin: 150px auto auto 40px;}
    .Main h1 {font-size: 190%; margin: 10px auto auto 40px}
    .Main p {font-size: 70%; margin: 5px auto auto 40px}
    .Main a { 
        width: 105px; 
        height: 30px; 
        font-size: 95%;
        line-height: 25px;}
}
@media (max-width: 400px) {
    .Main p {
        max-width: 270px;
        margin: 5px auto;
        text-align: center;}
    .Main h2 {width: 100%; margin: 150px auto 0 auto; text-align: center;}
    .Main h1 {width: 100%; margin: 10px auto; text-align: center;}
    .Main h1 {margin: 30px auto; text-align: center;}
    .Main a { margin:30px auto; line-height: 20px;}
}
@keyframes HeroAnimation {
    0% { opacity: 0; transform: translateY(20px)}
    100% { opacity: 1; transform: translateY(0px)}
}
.Get-Started {
    height: auto;
    padding-top: 70px;
    background-color: #374A67;
    margin: 0 auto;}
.Get-Started h3 {color: white}

.button-group {
    display: grid;
    margin: 60px auto;
    justify-items: center;
    grid-template-columns: repeat(2, auto);
    max-width: 700px;}
.button-group a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    display: block;
    text-align: center;
    width: 200px;
    height: 43px;
    line-height: 40px;
    text-decoration: none;
    color: #F0F6F6;
    line-height: 35px;
    background-color: #374A67;
    border-color: #FF8360;
    color: #FF8360;
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
    font-size: 84%;
    font-weight: 400;
    transition: 0.3s;
    transition-timing-function: ease-out;}
.button-group a:hover {
    background-color: #FF8360;
    color: white;}
@media(max-width:500px) {
    .button-group a {
        width:150px;
        font-size: 75%;}
}
.contact-links {
    height: 100px;
    max-width: 300px;
    display: grid;
    justify-content: center; 
    grid-template-columns: repeat(3, auto);
    grid-gap: 0px;
    margin:0 auto;}
.contact-links svg {
    font-size: 29px;
    background-color: white;
    height: 60px;
    width: 60px;
    padding: 10px;}
.contact-links a { transition: 0.3s;}
.contact-links a:hover { transform: translateY(-4px);}

#instagram-icon { background-color:rgba(42, 26, 23, 0); color: white;}
#discord-icon{color: white; background-color: rgba(42, 26, 23, 0);}


